# Combining the data and creating the health score

### Imports

In [1]:
import pandas as pd
import urllib, json, requests

### Load the health data

In [79]:
diabetes_df = pd.read_excel("IHME_county_data_Diabetes_NATIONAL.xlsx", sheet_name="Total", header=1)

In [80]:
obesity = pd.read_excel("IHME_county_data_LifeExpectancy_Obesity_PhysicalActivity_NATIONAL.xlsx", sheet_name="Obesity")

In [81]:
le = pd.read_excel("IHME_county_data_LifeExpectancy_Obesity_PhysicalActivity_NATIONAL.xlsx", sheet_name="Life Expectancy")

### View the data

In [82]:
diabetes_df.head()

,Location,FIPS,"Prevalence, 1999, Both Sexes","Prevalence, 1999, Females","Prevalence, 1999, Males","Prevalence, 2000, Both Sexes","Prevalence, 2000, Females","Prevalence, 2000, Males","Prevalence, 2001, Both Sexes","Prevalence, 2001, Females",...,"Prevalence, 2010, Males","Prevalence, 2011, Both Sexes","Prevalence, 2011, Females","Prevalence, 2011, Males","Prevalence, 2012, Both Sexes","Prevalence, 2012, Females","Prevalence, 2012, Males","Percent Change, 1999-2012, Males","Percent Change, 1999-2012, Females","Percent Change, 1999-2012, Both Sexes"
0,National,NaN,10.20,9.08,11.39,10.66,9.53,11.87,11.12,9.95,...,15.22,14.02,12.73,15.39,14.28,13.02,15.62,37.10,43.50,40.04
1,Alabama,1.0,11.71,10.72,12.76,12.21,11.21,13.27,12.77,11.76,...,16.64,15.84,14.97,16.77,16.19,15.26,17.19,34.66,42.28,38.26
2,Autauga County,1001.0,11.58,10.54,12.69,12.01,10.94,13.14,12.46,11.31,...,16.19,15.25,13.92,16.67,15.45,14.03,16.97,33.70,33.10,33.42
3,Baldwin County,1003.0,9.71,7.90,11.64,10.11,8.26,12.08,10.57,8.69,...,14.87,13.17,11.44,15.02,13.44,11.80,15.19,30.52,49.25,38.38
4,Barbour County,1005.0,13.84,13.03,14.69,14.57,13.76,15.44,15.25,14.46,...,19.28,19.08,18.38,19.83,19.36,18.67,20.10,36.79,43.25,39.93

In [83]:
obesity.head()

,State,County,"Male obesity prevalence, 2001 (%)","Female obesity prevalence, 2001 (%)","Male obesity prevalence, 2009 (%)","Female obesity prevalence, 2009 (%)","Male obesity prevalence, 2011* (%)","Female obesity prevalence, 2011* (%)","Difference in male obesity prevalence, 2001-2009 (percentage points)","Difference in female obesity prevalence, 2001-2009 (percentage points)",Unnamed: 10,*Methodological changes in the 2011 BRFSS may affect comparability between the 2011 estimates and estimates from earlier years
0,United States,NaN,26.1,28.7,32.8,35.1,33.8,36.1,6.7,6.4,NaN,NaN
1,Alabama,NaN,29.7,34.1,36.1,41.2,37.3,42.2,6.4,7.1,NaN,NaN
2,Alabama,Autauga,30.7,32.3,35.9,37.4,37.1,38.8,5.3,5.2,NaN,NaN
3,Alabama,Baldwin,27.8,28.3,32.4,33.0,33.5,33.9,4.5,4.6,NaN,NaN
4,Alabama,Barbour,32.3,42.8,40.3,51.3,41.5,51.6,8.0,8.5,NaN,NaN

In [84]:
le.head()

,State,County,"Male life expectancy, 1985 (years)","Female life expectancy, 1985 (years)","Male life expectancy, 1990 (years)","Female life expectancy, 1990 (years)","Male life expectancy, 1995 (years)","Female life expectancy, 1995 (years)","Male life expectancy, 2000 (years)","Female life expectancy, 2000 (years)","Male life expectancy, 2005 (years)","Female life expectancy, 2005 (years)","Male life expectancy, 2010 (years)","Female life expectancy, 2010 (years)","Difference in male life expectancy, 1985-2010 (years)","Difference in female life expectancy, 1985-2010 (years)"
0,United States,NaN,70.8,77.8,71.5,78.3,72.5,78.8,74.1,79.2,74.9,79.9,76.1,80.8,5.2,3.0
1,Alabama,NaN,69.1,76.9,69.4,77.1,69.9,77.2,71.0,77.2,71.5,77.3,72.4,77.8,3.3,0.9
2,Alabama,Autauga,68.1,77.0,68.5,77.0,69.3,77.3,71.7,77.6,72.5,77.4,73.3,78.8,5.2,1.8
3,Alabama,Baldwin,71.1,78.8,71.9,79.2,72.4,79.3,73.9,79.2,73.8,79.7,75.0,80.3,3.8,1.5
4,Alabama,Barbour,66.8,76.0,66.7,76.7,68.4,76.9,70.0,76.2,70.5,77.0,72.2,77.2,5.3,1.1

### Clean dfs to get county and state formatted

In [85]:
diab = diabetes_df[['Location', 'FIPS', 'Prevalence, 2012, Both Sexes', 'Prevalence, 2012, Females', 'Prevalence, 2012, Males']]

In [86]:
diab = diab.drop([0, 328, 329])
diab=diab.reset_index(drop=True)

In [87]:
noState = ['National', 'County',  'Borough', 'Area', 'Municipality', 'Parish', "City"]

In [88]:
# Mark the state of each county based on previous state names in the data frame
diab['State'] = ''
for i in range(len(diab)):
    if diab.Location[i].split(" ")[-1] in noState:
        # Mark state as previous
        diab['State'][i] = diab.State[i-1]
    else:
        # Mark state as location
        diab['State'][i] = diab.Location[i]

<ipython-input-88-09b249a43e96>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diab['State'][i] = diab.Location[i]
<ipython-input-88-09b249a43e96>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diab['State'][i] = diab.State[i-1]

In [89]:
diab = diab[diab.FIPS>60].reset_index(drop=True)

In [90]:
diab['County'] = diab.Location.str.split(" ").str[:-1]

In [91]:
for i in range(len(diab)):
    diab["County"][i] = " ".join(diab.County[i])

<ipython-input-91-ef38d20b7933>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  diab["County"][i] = " ".join(diab.County[i])

In [92]:
diab["PrevalenceDiab"] = diab["Prevalence, 2012, Both Sexes"]

In [93]:
diab = diab[["State", "County", "FIPS", "PrevalenceDiab"]]

In [94]:
diab["CoSt"] = diab["County"] + ", " + diab["State"]

In [95]:
obesity["PrevalenceObes"] = (obesity["Male obesity  prevalence, 2011* (%)"] + obesity["Female obesity prevalence, 2011* (%)"])/2

In [96]:
obesity = obesity[~obesity.County.isna()].reset_index(drop=True)
obesity = obesity[["State", "County", "PrevalenceObes"]]

In [97]:
obesity['CoSt'] = obesity["County"] + ", " + obesity["State"]

In [98]:
le["LE"] = (le["Male life expectancy, 2010 (years)"] + le["Female life expectancy, 2010 (years)"])/2

In [99]:
le = le[~le.County.isna()].reset_index(drop=True)
le = le[["State", "County", "LE"]]

In [111]:
le['CoSt'] = le["County"] + ", " + le["State"]

### Combine into one, then join with FF Chains

In [112]:
diab = diab[['CoSt', 'FIPS', 'PrevalenceDiab']]
obesity = obesity[["CoSt", "PrevalenceObes"]]
le = le[["CoSt", "LE"]]

In [116]:
combined = diab.merge(obesity, left_on="CoSt", right_on="CoSt").merge(le, left_on="CoSt", right_on="CoSt")

In [120]:
ff = pd.read_csv("Fast_Food_Restaurants_US.csv").drop("Unnamed: 0", axis=1)

In [125]:
# Get the FIPS based on latitude and longitude using an API
ff["FIPS"] = 0
for i in range(len(ff)):
    lat = ff.latitude[i]
    long = ff.longitude[i]
    with urllib.request.urlopen("https://geo.fcc.gov/api/census/area?lat=" + str(lat) + "&lon=" + str(long) + "&format=json") as url:
        data = json.loads(url.read().decode())
    ff["FIPS"][i] = json.loads(json.dumps(data, indent=4, sort_keys=True))["results"][0]['county_fips']

<ipython-input-125-7641a987c2bc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ff["FIPS"][i] = json.loads(json.dumps(data, indent=4, sort_keys=True))["results"][0]['county_fips']

In [224]:
# MERGE ON FIPS (JOIN ON FF SIDE)
allDf = ff.merge(combined, left_on="FIPS", right_on="FIPS")

### Now calculate health score

In [225]:
"""
Relative prevalence of diabetes + relative prevalence of obesity + reversed relative percentage of LE (x2)
Then map to 0-100
"""

'\nRelative prevalence of diabetes + relative prevalence of obesity + reversed relative percentage of LE (x2)\nThen map to 0-100\n'

In [233]:
allDf["RelativePrevalenceDiab"] = (allDf["PrevalenceDiab"] - allDf["PrevalenceDiab"].min())/(allDf["PrevalenceDiab"].max() - allDf["PrevalenceDiab"].min())
allDf["RelativePrevalenceObes"] = (allDf["PrevalenceObes"] - allDf["PrevalenceObes"].min())/(allDf["PrevalenceObes"].max() - allDf["PrevalenceObes"].min())
allDf["RelativePrevalenceLE"] = (allDf["LE"] - allDf["LE"].min())/(allDf["LE"].max() - allDf["LE"].min())

In [234]:
allDf["RelativePrevalenceLE"] = -1*allDf.RelativePrevalenceLE+1

In [235]:
allDf["CombinedPct"] = allDf["RelativePrevalenceDiab"] + allDf["RelativePrevalenceObes"] + allDf["RelativePrevalenceLE"] + allDf["RelativePrevalenceLE"]

In [236]:
allDf["HealthScore"] = (allDf["CombinedPct"] - allDf["CombinedPct"].min())/(allDf["CombinedPct"].max() - allDf["CombinedPct"].min())
allDf["HealthScore"] = -1*allDf.HealthScore+1

### Now get health score by area and ff chain

In [237]:
avgByCounty = allDf.groupby("CoSt").agg({"HealthScore": "mean"})

In [238]:
avgByCounty = avgByCounty.reset_index()

In [239]:
avgByCounty.columns = ["CoSt", "AvgByCounty"]

In [240]:
allDf = allDf.merge(avgByCounty, on="CoSt")

In [241]:
avgByState = allDf.groupby("province").agg({"HealthScore":"mean"})

In [242]:
avgByState = avgByState.reset_index()

In [249]:
avgByState.columns = ["province", "AvgByState"]

In [250]:
allDf = allDf.merge(avgByState, on="province")

In [251]:
allDf['nameLower'] = allDf.name.str.lower().str.replace('[^a-zA-Z0-9]', '')

In [252]:
avgByChain = allDf.groupby("nameLower").agg({"HealthScore":"mean"})

In [253]:
avgByChain = avgByChain.reset_index()

In [254]:
avgByChain.columns = ["nameLower", "AvgByChain"]

In [255]:
allDf = allDf.merge(avgByChain, on="nameLower")

In [257]:
allDf["OverallHealthScore"] = (allDf["AvgByCounty"] + allDf["AvgByState"] + allDf["AvgByChain"] + allDf["AvgByChain"])/4

### Save the health score data by fast food location to a csv

In [272]:
allDf.to_csv("HealthScores.csv")